/* Css for the home page */
html, body, h1, ul, li, a, p, footer, header, main, nav {
    padding: 0;
    margin: 0;
}

body {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    background-image: url("anime-scenery-09.jpg");
    background-attachment: fixed;
}

address
{
    background-color: grey;
    border-style: solid;
    border-bottom-style: hidden;
    border-right: hidden;
    border-left: hidden;
    border-color: silver;
}

.h\&f, .header1 /* Header and footer */
{
    color: white;
    border-color: silver;
    background-image: url("pc2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:rgb(48, 61, 39);
    padding: 20px 20px;
    /* border-bottom-style: solid; */
    border-top-style: solid;
    height: 100px;
}

#foot
{
    border-color: black;
}

nav {
padding: 5px;
background-color:rgb(48, 61, 39);
}

li {
    display:inline;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
   text-align: right;
}

.navagation {
    text-align: right; 
}

a:visited {
    color: gainsboro;
}

#pug {
    width: 150px;
    height: 100px;
    
}

.generalNav {
    background-color:rgb(48, 61, 39);  
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}
