<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/css/general.css">
	<title>Puggs Unite!</title>
</head>

<body>
    <header class="header1">
        <div>
            <p style="float: left;">
             <a href="/"><img id="pug" src="/images/pug-03.jpg" alt="Pug looking at treat"></a>
            </p>
         <h1>The puggle</h1>
            <p>A place Where Puggs can be puggs</p> 
        </div>
        <nav class="navagation">
         <!-- This section is for the navigation Bar  -->
            <ul>
                <li><a href="/connections/new">Start A new Connection</a></li>
                <li><a href="/">Login</a></li>
                <li><a href="/">Sign Up</a></li>
            </ul>
        </nav>
        <br>
        <hr>
        <!-- This section is for general site navigation -->
        <div class="generalNav">
            <a href="/connections"> Connections</a>
        </div>
    </header>