<%- include('../partials/header.ejs')%>
    <main>
        <h1>About This site:</h1>
        <p>Here at Puggs Unite we try our best to get pugs and pug lovers to meet and interact with one another.
           Its a Great place for like minded individuals to get meet to chat, relax, eat and tell various stories 
           about them and their loved ones. 
        </p>
    </main>
 <%- include('../partials/footer.ejs')%>