<%- include('../partials/header.ejs')%>
    <main>
        <h1>Contact Information:</h1>
        <p>For information regaurind this site and its  navagation please feel free to contact: cwhit154@uncc.edu</p>
    </main>
 <%- include('../partials/footer.ejs')%>