<%- include('../partials/header.ejs')%>
    <main>
        <h1>Welcome to a meeting place for Puggs</h1>
        <p> Have you ever wanted to meet other puggs and other pugg owners? Well look
            no further! At puggle we make it your one stop shop to communicate and plan
             events!
            At this site you will be able to make meaningful connections with other 
            pugg owners.
        </p>
        <p>Explore our website connections for details.</p>
    </main>
 <%- include('../partials/footer.ejs')%>